/* Normalize */
@import "~normalize-scss/sass/normalize";

@import "../../../styles/variables";

:root {
    // --background-url: url("./images/blackgradient.png");
    // --background-color: #00bfff;
}

.autopaly-container {
    // margin: 40px 30px 20px 91px;
    // padding: 2em;
    // background-image: url("./images/blackgradient.png"); /* 1 */
    // background-image: linear-gradient(var(--background-color), 96%, var(--background-color));
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.slick-slide .imgA1 {
    // padding-left: 34%;
}
.slick-prev,
.slick-prev::before,
.slick-prev::after,
.slick-next:before {
    display: none;
}
img {
    // position: absolute;
    top: 25px;
    left: 25px;
}

.latest-movie .upgrades {
}
.imgA1 {
    z-index: 1;
}
.imgB1 {
    height: 65px;
    z-index: 3;
    // padding-left: 801px;
}
.autopaly-container div {
    // background-color: #00bfff;
    .slick-dots {
        position: relative;
        right: 0;
    }
}
.slick-slider {
    // margin: 0 90px 0 90px;
}

/* col-lg - Large Desktop screens */
@media (min-width: 1090px) {
    .slick-slide .imgA1 {
        // width: 58%;
        // padding-left: 145px;
    }
    .slick-slide .imgB1 {
        // padding-left: 420px;
    }
}

.latest-movie {
    // position: absolute;
    // width: 2%;
    text-align: center;
    font: normal normal bold 28px/36px Inter, sans-serif;
    letter-spacing: 1.75px;
    color: #ffffff;
    padding: 48px;
    opacity: 1;
    p {
        text-align: center;
    }
}

@media screen and (max-width: $small-below) {
    .slick-slider {
        margin: auto;
    }
    .slick-next {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .latest-movie {
        font: normal normal bold 12px/16px Inter, sans-serif;
        padding: 12px 0 0 0;
    }
    .imgB1 {
        height: 30px;
    }
    .slider-image-section {
        min-height: 45vh !important;
        max-height: 45vh;
    }
}
