.success-msg-content {
  margin-bottom: 1.5rem;
  color: #ffffff;
  text-align: center;
  justify-content: center;
}
.success-btn-wrapper {
  display: flex;
  justify-content: center;
}
.success-msg-first-txt {
  margin-top: 1rem;
}

.success-msg-acpt-btn {
  margin-top: 1rem;
  padding: 0.25rem 2rem;
  border: none;
  text-transform: capitalize;
}
