/* Normalize */
@import "~normalize-scss/sass/normalize";

@import "../../../styles/variables";

.ratings {
    margin: 0 10px;
    padding: 3px 10px 0 0;
}
.MuiRating-iconEmpty {
    color: white !important;
}

@media screen and (max-width: $small-below) {
}
