@import "~normalize-scss/sass/normalize";
@import "../../..//variables";

body {
    height: 120%;
}

.changeplan-background {
    width: 100% !important;
    min-height: 100vh !important;

    .headerShadow {
        position: relative;
        background: transparent linear-gradient(180deg, #e1540f 0%, #fbb08b 100%) 0% 0% no-repeat padding-box;
    }

    .container {
        padding: 8px;
        width: auto;
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2%;
        min-height: 80vh;
    }

    p {
        font: normal normal normal 15px /19px Inter, sans-serif;
        letter-spacing: 0.07px;
        color: #585858;
        border: none;
        margin: 6px;
    }

    h2 {
        font: normal normal bold 28px / 34px Inter, sans-serif;
        letter-spacing: 0.28px;
        color: #585858;
        text-align: left;
        border: none;
        width: 100%;
        margin: 1% 0 2% 0;
    }

    .card-container {
        border: 1px solid lightgrey;

        .cards:hover {
            background: #f9f4f3;

            .card-button {
                display: initial;
                color: #f9f4f3;
            }
        }

        // .cards:nth-of-type(2) {
        //     background: #eef1ff;
        // }
        // .cards:nth-of-type(3) {
        //     background: #eefbff;
        // }
        // .cards:nth-of-type(4) {
        //     background: #e1f2ec;
        // }
    }

    .card-container {
        display: flex;
        min-height: 45vh;
        text-align: center;
        margin-top: 4%;

        .cards {
            width: 25%;
            min-height: 40vh;

            p {
                text-align: center;
            }

            .card-title {
                margin-top: 26%;
                font: normal normal normal 30px / 36px Inter, sans-serif;
                color: #585858;
            }

            .card-text {
                font: normal normal 300 12px / 15px Inter, sans-serif;
                color: #585858;
                margin: 8%;
            }

            .card-price {
                font: normal normal normal 30px / 36px Inter, sans-serif;
                color: #585858;

                .currency {
                    font: normal normal 300 15px / 19px Inter, sans-serif;
                    letter-spacing: 0.15px;
                    color: #585858;
                }
            }

            .card-button {
                display: none;
                background: #e1540f 0% 0% no-repeat padding-box;
                text-transform: uppercase;
                border: none;
                font: normal normal bold 14px / 17px Inter, sans-serif;
                letter-spacing: 0.14px;
                text-align: center;
                padding: 4% 18%;
                border-radius: 2.8%;
            }
        }
    }
}

.checkmark-group--icon {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    color: #e50914;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 18px;
    width: 18px;
}

.checkmark-group--text {
    margin-left: 10px;
    margin-top: 2px;
}

.active {
    // background: #fbb08b !important;
}

@media screen and (max-width: $small-below) {
    .changeplan-background {
        h2 {
            font: normal normal bold 14px / 17px Inter, sans-serif;
        }

        p {
            font: normal normal normal 10px/12px Inter, sans-serif;
            color: #585858;
        }

        .card-container {
            display: initial;
            border: none;

            .selected {
                padding: 2px 4px !important;
                font-size: 12px;
                margin: 1rem 0;
            }

            .card:hover {
                background-color: #e2e2e2;
            }

            .cards {
                width: 100%;
                display: flex;
                min-height: auto;
                padding: 2%;
                background-color: #f9f4f3;
                margin: 4% 0;

                .card-button {
                    display: none !important;
                }

                .rightsection {
                    width: 60%;
                }

                .leftsection {
                    width: 40%;
                }

                .card-title {
                    margin-top: 0;
                    font: normal normal bold 15px/19px Inter, sans-serif;
                    letter-spacing: 0.15px;
                    color: #e1540f;
                    text-align: left;
                }

                .card-text {
                    text-align: left;
                    margin: 2%;
                    font: normal normal 300 10px/12px Inter, sans-serif;
                    letter-spacing: 0.1px;
                }

                .card-price {
                    .main {
                        text-align: center;
                        font: normal normal normal 25px/30px Inter, sans-serif;
                        letter-spacing: 0.25px;
                        color: #585858;
                    }
                }
            }
        }
    }

    .checkmark-group--icon {
        height: 11px;
        width: 11px;
    }
}

/* ----------- iPad Pro" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        height: 100%;
    }

    .changeplan-background {
        .card-container {
            min-height: 24vh;

            .cards {
                min-height: 22vh;
            }
        }
    }
}
