/* Normalize */
@import "~normalize-scss/sass/normalize";

@import "../../..//variables";

.forgotpassword-background {
    // background: url("./../../assets/graphics/background-layout.png") no-repeat center center/cover;
    // background-color: #131722;
    width: 100% !important;
    min-height: 40vh !important;
    .headerShadow {
        opacity: 0.7;
        background: transparent linear-gradient(180deg, #e1540f 0%, #fbb08b 100%) 0% 0% no-repeat padding-box;
        position: relative;
    }
}
