.SignIn-background {
    width: 100% !important;
    min-height: 60vh !important;

    .headerShadow {
        opacity: 0.7;
        background: transparent linear-gradient(180deg, #e1540f 0%, #fbb08b 100%) 0% 0% no-repeat padding-box;
        position: relative;
    }

    .link-forgot-password {
        text-decoration: none;
        color: #0071eb;
    }

    .link-forgot-password:hover {
        font-size: 16px;
        text-decoration: underline;
    }
}

.upgrade {
    background: transparent;
}