.payment-background .headercomp {
    background: transparent linear-gradient(180deg, #e1540f 0%, #fbb08b 100%) 0% 0% no-repeat padding-box !important;
}
.payment-background {
    .footer {
        background: #f8f8f8;
        border: none;
    }
    .footer ul li p {
        color: #212121;
        font-weight: bold;
    }
    .footer,
    .footer a {
        color: black;
    }
    .callus {
        color: #212121;
        font-weight: bold;
    }
}
