.modal-style-sidenav {
  background-color: black;
  color: aquamarine;
  border-color: black;
  height: 1000px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  transition: "width 5s";
  max-width: 300px;
}
.modal-style-sidenav:focus {
  outline: none;
}
.nav-logo-sidenav {
  width: 35px;
  padding-left: 5px;
}
.company-name-sidenav {
  height: 16px;
  width: 151px;
  padding-left: 30px;
}
.icon-sidenav {
  height: 25px;
  width: 25px;
  margin-left: 02rem;
}
.icon-sidenav:hover {
  cursor: pointer;
}
.logo-title {
  text-decoration: none;
}
.profile-sidenav {
  margin-left: 6rem;
  /* padding-top: 50px;
  padding-left: 100px; */
  width: 85px;
  height: 86px;
}
.caption-sidenav {
  padding-left: 100px;
  display: block;
  color: #f1f1f1;
  font-size: large;
}
.section {
  cursor: pointer;
  padding: 1rem 4rem;
  border-bottom: thin solid grey;
}
.movie-logo-sidenav {
  /* padding-top: 50px; */
  /* padding-left: 25px; */
  height: 20px;
  width: 20px;
}
.title-sidenav {
  padding-left: 20px;
  color: #f1f1f1;
  font-size: large;
}
.series-logo-sidenav {
  /* padding-top: 25px;
  padding-left: 25px; */
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.devices-logo-sidenav {
  height: 20px;
  width: 20px;
  cursor: pointer;
  /* padding-top: 25px;
  padding-left: 25px; */
}
.user-logo-sidenav {
  height: 20px;
  width: 20px;
  cursor: pointer;
  /* padding-top: 25px;
  padding-left: 25px; */
}
.logout-logo-sidenav {
  height: 20px;
  width: 20px;
  cursor: pointer;
  /* padding-top: 25px;
  padding-left: 25px; */
}
.title-sidenav:hover {
  text-decoration: underline;
}

.modal-body {
  border: none;
  padding: none;
}

.modal-style-sidenav .modal-content {
  background-color: black;
  /* position: relative; */
}
